body{
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/free-vector/abstract-digital-grid-vector-black-background_53876-111550.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-anchor a{
    text-decoration: none;
    color: aqua;
}

.nav-anchor button{
    font-size: large;
    border-radius: 15px;
    background-color: black;
    border-color: grey;
}

.nav-anchor a:hover{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-anchor button:hover{
    font-size: large;
    border-radius: 15px;
    background-color: aqua;
    border-color: grey;
}



.nav-anchor{
    display: flex;
    justify-content: flex-end;
    gap: 13px;
    padding-top: 20px;
    padding-right: 20px;
}

#profile{
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;


}

#profile h1{
    color: aqua;
    margin: 20px;
}

.grow-on-hover:hover {
    transform: scale(1.2);
}

img{
    border-radius: 50%;
    height: 350px;

}